.App-header{
  position: relative;
    float: left;
    width: 100%;
    background-color: #ffffff;
    /* border-radius: 0 0 30px 30px; */
    box-shadow: 5px 10px 15px #888888;
    clear: both;
  
}
.App-logo{
  margin: 20px;
  width: 146px;
  height: 50px;
  left: 2%;
  float: left;
  position: relative;
}
.customize{
  clear: both;
  margin-top: 50px;
  float: left;
  position: relative;
  padding: 20px;
  left: 35%;
  width: 30%;
  box-shadow: 5px 5px 15px #888888;;
}
.item{
  font-weight: 700;
  float: left;
  font-size: 18px;
  margin-bottom: 20px;
  font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
}
.close{
  float: right;
  background-color: transparent;
  border: none;
}
.menu{
  margin-top: 20px;
  padding: 20px 0 20px 0;
  border-top: 1px dashed #c3c3c3;
  clear: both;
  box-shadow: 0px 8px 7px -8px #888888;
}
.menuBtn{
  background-color: transparent;
  color:#b1aeae;
  border: none;
  margin-left: 20px;
  
}
.price{
  margin: 10px 20px;
  color: #888888;
}
.selected{
  color: black;
  text-decoration: underline;
}
.selection{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 400px;
  margin-top: 10px;
}
::-webkit-scrollbar{
  color: #000000;
}
.menuItem{
  margin: 0px 20px;
}
ul{
  list-style-type: none;
  padding-inline-start: 0px;
}
li{
  margin-top: 10px;
}
.total{
  background-color: #60b246;
  color:#ffffff;
  padding: 10px 20px;
  font-weight: 600;
  margin-top: 10px;
}
.addItem{
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  float: right;
}
@media only screen and (max-width: 1533px) {
  .customize{
    
    left: 20%;
    width: 60%;
    
  }
}
@media only screen and (max-width: 765px) {
  .customize{
    
    left: 1%;
    width: 90%;
    
  }
  
}
@media only screen and (max-width: 451px) {
  .selection{
    height: 300px;
  }
  
  
}
